{% extends 'base.html' %}

{% load static %}


{% block title %}Profile{% endblock title %}

{% block header %}
<div class="jumbotron1">

  <a class="logo" href="{% url 'home' %}"><img src="{% static 'homepagepic.png' %}" alt="EasyConnect"></a>
  <p class="lead1">A Message App for Business.</p>
  {% if not request.user.is_authenticated %}
  <p class="lead2">
    <a class="btn btn-primary btn-md" href="{% url 'login' %}" role="button">Client Sign in</a>
    <a class="btn btn-primary btn-md" href="{% url 'login' %}" role="button">Admin Sign in</a>

  </p>
  <p class="lead2">
    <a class="btn btn-primary btn-md" href="{% url 'choosetype' %}" role="button">Sign Up</a>
  </p>
  {% else %}
  <p class="lead2"> <a href="{% url 'logout' %}">Logout</a> (<u>{{ user.username }})</u>
  </p>
  {% endif %}
</div> 
{% endblock header %}

<!-- main content block  -->
{% block main %}
<div class="subcontent">
  {% if not request.user.is_authenticated %}
  <p>Please login to view profile page Information</p>
  {% else %}
  <p> profile picture is <img src="{{user.photo.url}}" alt="ProfilePic" /> </p>
  <span>Hello, {{user.username}}</span>
  {% if user.is_superuser %}
  <p>You are an admin</p>
  {% endif %}
  <p> username is {{user.username}} </p>

  <p> email is {{user.email}} </p>
  <p> first name is {{user.first_name}} </p>
  <p> last name is {{user.last_name}} </p>
  <p> phone number is {{user.phone_number}} </p>
  <p> organization is {{user.Organization_name}} </p>
  {% endif %}
</div> <!-- end subcontent -->
{% endblock main %}

<!-- sidbar list views -->
{% block list %}
<li><a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a></li>
<li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
<li><a href="#"><i class="fas fa-project-diagram"></i>Portfolio</a></li>
<li><a href="#"><i class="fas fa-bullhorn"></i>Anouncements</a></li>
<li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
<li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
{% endblock list%}