{% extends 'base.html' %}

{% load static %}


{% block title %}Profile{% endblock title %}

{% block header %}
<div class="jumbotron1">

  <a class="logo" href="{% url 'home' %}"><img src="{% static 'homepagepic.png' %}" alt="EasyConnect"></a>
  <p class="lead1">A Message App for Business.</p>
  {% if not request.user.is_authenticated %}
  <p class="lead2">
    <a class="btn btn-primary btn-md" href="{% url 'login' %}" role="button">Client Sign in</a>
    <a class="btn btn-primary btn-md" href="{% url 'login' %}" role="button">Admin Sign in</a>

  </p>
  <p class="lead2">
    <a class="btn btn-primary btn-block" href="{% url 'choosetype' %}" role="button">Sign Up</a>
  </p>
  {% else %}
  <p class="lead2"> <a href="{% url 'logout' %}">Logout</a> (<u>{{ user.username }})</u>
  </p>
  {% endif %}
</div>
{% endblock header %}

<!-- main content block  -->
{% block main %}
<br>
<hr>
<h1 style="padding-block-start: 0%;">User Profile</h1>

<div class="jumbotron1">

  {% if not request.user.is_authenticated %}
  <div class="subcontent">Please <a href="{% url 'login' %}">login</a> to view profile page Information</div>
  {% else %}
  <div class="jumbotron2">
    <h3 style="text-transform: capitalize;">{{user.username}}</h3>
    <br>
    <img style="height: 150px;border-radius: 50%;" src="{{user.photo.url}}" alt="ProfilePic" />

    {% if user.is_superuser %}
    <!-- check type of user-->


    <div class="row">
      <h4><b>User Status:</b> Admin</h4>
    </div>
    <br>

    {% endif %}
    <div class="row">
      <h4><b>Username:</b> {{user.username}}</h4>
    </div>
    <br>


    <div class="row">
      <h4><b>Email:</b> {{user.email}} </h4>
    </div>
    <br>


    <div class="row">
      <h4><b>First:</b> {{user.first_name}}</h4>
    </div>
    <br>


    <div class="row">
      <h4><b>Last:</b> {{user.last_name}}</h4>
    </div>
    <br>


    <div class="row">
      <h4><b>Phone:</b> {{user.phone_number}} </h4>
    </div>
    <br>


    <div class="row">
      <h4><b>Name of Organization:</b> {{user.Organization_name}}</h4>
    </div>
    <br>



    {% endif %}
  </div>
</div> <!-- end subcontent -->
{% endblock main %}

<!-- sidbar list views -->
{% block list %}
<li><a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a></li>
<li><a href="{% url 'about' %}"><i class="fas fa-address-card"></i>About</a></li>
<li><a href="#"><i class="fas fa-project-diagram"></i>Chat</a></li>
<li><a href="{% url 'announcements' %}"><i class="fas fa-bullhorn"></i>Anouncements</a></li>
<li><a href="{% url 'contact' %}"><i class="fas fa-address-book"></i>Contact</a></li>
{% endblock list%}